form {
  display: inline-flex;
  gap: 1.5rem;
  flex-direction: column;
}

.form-input {
  display: inline-block;
  align-items: center;
  position: relative;
}

.form-input input {
  padding: 0.4rem;
}

.form-input div {
  padding-right: 0.5rem;
  position: absolute;
  top: 7px;
  right: 0;
}
form button {
  /* width: 100px;
    padding: 0.5rem;
    border-radius: 5px; */
  padding: 0.5rem;
  align-self: baseline;
}
